.xblock--drag-and-drop {
    width: auto;
    margin: 0;
    padding: 0;
}


.xblock--drag-and-drop .initial-load-spinner {
    margin-right: 3px;
}

/* Button style tricks, defined higher so they can be overridden */

.xblock--drag-and-drop .unbutton {
    background: none;
    box-shadow: none;
    border: none;
    padding: 0;
    margin: 0;
}

.xblock--drag-and-drop .unbutton:active {
    background: none;
    box-shadow: none;
    border: none;
}

.xblock--drag-and-drop .unbutton:hover {
    background: none;
    box-shadow: none;
    border: none;
}

.xblock--drag-and-drop .unbutton:focus {
    background: none;
    box-shadow: none;
    border: none;
}

/* Header, instruction text, etc. */

.xblock--drag-and-drop .problem-title {
    display: inline-block;
    margin: 0 0 15px 0;
}

.xblock--drag-and-drop .problem p {
    margin-bottom: 1.41575em;
}

/* Shared styles used in header and footer */

.xblock--drag-and-drop .title1 {
    color: #555555;
    margin: 10px 0;
    margin-top: 20px;
}

/* drag-container holds the .items and the .target image */

.xblock--drag-and-drop .drag-container {
    width: auto;
    background-color: #fff;
    height: 500px;
    margin: 20px 0 0 0;
}

/*** DRAGGABLE ITEMS ***/

.xblock--drag-and-drop .item-bank {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;

    /*-ms-flex-flow: row wrap;*/
    /*flex-flow: row wrap;*/

    -ms-justify-content: flex-start;
    justify-content: flex-start;

    -ms-flex-align: center;
    align-items: center;

    float: left;
    position: relative;
    padding: 5px 20px 5px 20px;
}
.xblock--drag-and-drop .item-bank h4{
    margin-top: 0;
}
.xblock--drag-and-drop .drag-container .option {
    display: inline-block;
    width: auto;
    min-width: 4em;
    width: 100%;
    max-width: 257px;
    color: #000;
    opacity: 1;
    outline-color: #fff;
    outline-style: none;
    /* Some versions of the drag and drop library try to fiddle with this */
    z-index: 10 !important;

    margin: 5px 0;
    padding: 15px 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    background: #fff;
    text-align: left;
}

.xblock--drag-and-drop .drag-container .option.specified-width img {
    width: 100%;  /* If the image is smaller than the specified width, make it larger */
}

.xblock--drag-and-drop .drag-container .option.option-with-image .spinner-wrapper {
    position: absolute;
    float: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.6;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.xblock--drag-and-drop .drag-container .option .item-content {
    display: inline-block;
    width: 100%; /* Make sure size of content never exceeds size of item */
                 /* (this can happen if item displays image whose width exceeds computed max-width of item) */
    overflow-wrap: break-word;
    word-wrap: break-word;

    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

/* Placed option */
.xblock--drag-and-drop .drag-container .target .option {
    position: absolute;
    margin: 0;
    transform: translate(-50%, -50%); /* These blocks are to be centered on their absolute x,y position */
    background-color: #fff;
}

/* Placed options in an aligned zone */
.xblock--drag-and-drop .zone .item-wrapper {
    width: 0%;
    position: relative;
}
.xblock--drag-and-drop .zone .item-align .option {
    transform: none;
    position: relative;
    vertical-align: top;
    margin-right: 2px;
    margin-bottom: 2px;
}
.xblock--drag-and-drop .zone .item-align-left {
    text-align: left;
}
.xblock--drag-and-drop .zone .item-align-right {
    text-align: right;
}
.xblock--drag-and-drop .zone .item-align-center {
    text-align: center;
}
.xblock--drag-and-drop .zone .item-align-center .option {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Focused option */
.xblock--drag-and-drop .drag-container .item-bank .option:focus,
.xblock--drag-and-drop .drag-container .item-bank .option:hover,
.xblock--drag-and-drop .drag-container .item-bank .option[aria-grabbed='true'] {
    /*outline-width: 2px;
    outline-style: solid;
    outline-offset: -4px;*/
}

.xblock--drag-and-drop .drag-container .ui-draggable-dragging.option {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.3);
    border-bottom: 5px solid #3E51B5;

    z-index: 20 !important;
    margin: 0; /* Allow the draggable to touch the edges of the target image */
}

.xblock--drag-and-drop .drag-container .option img {
    display: inline-block;
    max-width: 100%;
}

.xblock--drag-and-drop .drag-container .option .numerical-input {
    height: 32px;
    position: absolute;
    left: calc(100% + 5px);
    top: calc(50% - 16px);
}

.xblock--drag-and-drop .drag-container .option .numerical-input .spinner-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 5px;
    padding-top: 6px;
    color: green;
    background-color: #00a7f6;
}

.xblock--drag-and-drop .drag-container .option .numerical-input .input {
    display: inline-block;
    width: 144px;
}

.xblock--drag-and-drop .drag-container .option .numerical-input .submit-input {
    position: absolute;
    left: 150px;
    top: 4px;
    white-space: nowrap;  /* Fix cross-browser issue: Without this declaration, button text wraps in Chrome/Chromium */
}

.xblock--drag-and-drop .drag-container .option .numerical-input.correct .input-submit,
.xblock--drag-and-drop .drag-container .option .numerical-input.incorrect .input-submit {
    display: none;
}

.xblock--drag-and-drop .drag-container .option .numerical-input.correct .input {
    background-color: #ceffce;
    color: #087108;
}

.xblock--drag-and-drop .drag-container .option .numerical-input.incorrect .input {
    background-color: #ffcece;
    color: #ad0d0d;
}

.xblock--drag-and-drop .drag-container .option.fade {
    width: 43%;
}

/*** DROP TARGET ***/

.xblock--drag-and-drop .target {
    display: table;
    /* 'display: table' makes this have the smallest size that fits the .target-img
       while still allowing the image to use 'max-width: 100%' and scale proportionally.
       The end result is that this element has the same width and height as the image, so we
       can use it as a 'position: relative' anchor for the placed elements. */
    height: auto;
    position: relative;
    float: right;
    padding: 0;
}

.xblock--drag-and-drop .target-img-wrapper {
    /* This element is required for Firefox due to https://bugzilla.mozilla.org/show_bug.cgi?id=975632 */
    display: table-row;
}

.xblock--drag-and-drop .target-img {
    display: table-cell;
    width: 100%;
    max-width: 100%;
    max-height: 500px;
}

.xblock--drag-and-drop .zone {
    position: absolute;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    /* Internet Explorer 10 */
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    box-pack:center;
    box-align:center;
}

.xblock--drag-and-drop .zone-with-borders {
    border: 1px dotted #565656;
}

/* Focused zone */
.xblock--drag-and-drop .zone:focus {

}

.xblock--drag-and-drop .drag-container .target .zone p {
    width: 100%;
    text-align: center;
}

/*** FEEDBACK ***/

.xblock--drag-and-drop .feedback {
    float: right;
}

.xblock--drag-and-drop .popup {
    position: absolute;
    display: none;
    top: 40%;
    right: 5%;
    background-color: rgba(130,199,37,1.0);
    width: 95%;
    min-height: 50px;
    max-height: 90%;
    overflow-y: auto;
    z-index: 100;
}

.xblock--drag-and-drop .popup.popup-incorrect {
    background-color: rgba(223,64,80,0.8);
    display: block;
}

.xblock--drag-and-drop .popup .popup-content {
    color: #ffffff;
    font-weight: 400;
    margin-top: 15px !important;
    margin-left: 15px !important;
}

.xblock--drag-and-drop .popup .close {
    cursor: pointer;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    opacity: 1;
    /*
    margin-top: 8px;
    margin-left: 20px;*/
    color: #ffffff;
    font-family: "fontawesome";
}

.xblock--drag-and-drop .popup .close:focus {
    outline: 2px solid white;
}

/*** KEYBOARD HELP ***/

.xblock--drag-and-drop .keyboard-help {
    margin-top: 3px;
    margin-bottom: 6px;
    clear: both;
}

.xblock--drag-and-drop .keyboard-help-dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 1px;
    height: 1px;
    z-index: 1500;
}

.xblock--drag-and-drop .modal-window-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 1500;
}

.xblock--drag-and-drop .modal-window {
    display: none;
    position: absolute;
    width: 600px;
    max-width: 90vw;
    height: auto;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    padding: 7px;
    background-color: #e5e5e5;
    text-align: left;
    direction: ltr;
    z-index: 1500;
}

.xblock--drag-and-drop .modal-content {
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 5px;
    padding: 5px;
}

.xblock--drag-and-drop .modal-content li {
    margin-left: 2%;
}

.xblock--drag-and-drop .link-button, .hint-button, .hint-button-text {
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: #3E51B5;
    font-weight: normal;
    font-size: 13pt;
    background: none;
    box-shadow: none;
    border: none;
}

.xblock--drag-and-drop .link-button:focus, .hint-button:focus {
    outline: none
}

/* Make sure screen-reader content is hidden in the workbench: */
.xblock--drag-and-drop .sr {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    background-color: #ffffff;
    color: #000000;
}

.border-dashed{
    border: dashed 3px #3E51B5;
}
.border-solid{
    border: solid 5px #3E51B5;
}
.border-incorrect{
    border: solid 2px #ad0d0d;
}
.no-padding{
    padding: 0;
}
.try-again-button, .get-grade-button{
    margin: 20px auto;
    transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
    border: none !important;
    border-radius: 0 !important;
    background: #3E51B5;
    color: #fff;
}
.try-again-button:hover, .get-grade-button:hover{
    background: #B2B9E1 !important;
}
.try-again-button:focus, .get-grade-button:focus{
    box-shadow: none !important;
}
@media screen and (min-width: 1000px) {
    .screen-too-small{
        display: none;
    }
}
@media screen and (max-width: 999px) {
    .xblock--drag-and-drop {
        /*display: none; */
    }
    .xblock--drag-and-drop .problem-title{
        display: none;
    }
    .problem{
        display: none;
    }
    .xblock--drag-and-drop .drag-container{
        display: none;
    }
    .buttons-container{
        display: none;
    }
}
