/*** xBlock styles ***/
.xblock--drag-and-drop {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
}

.modal-window .editor-with-buttons.xblock--drag-and-drop  {
    /* Fix Studio edito height */
    margin-bottom: 0;
    height: 380px;
}

/** Draggable Items **/
.xblock--drag-and-drop .items {
    width: 210px;
    margin: 10px;
    padding: 0;
    font-size: 14px;
    position: relative;
    display: inline;
    float: left;
    list-style-type: none;
}


/*** Drop Target ***/
.xblock--drag-and-drop .target {
    width: 515px;
    height: 510px;
    position: relative;
    display: inline;
    float: left;
    margin: 10px 0 15px 5px;
    background: #fff;
    z-index: 1;
}

.xblock--drag-and-drop .target-img {
    background: url('../img/triangle.png') no-repeat;
    width: 100%;
    height: 100%;
}

.xblock--drag-and-drop .zone {
    position: absolute;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    /* Internet Explorer 10 */
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    box-pack:center;
    box-align:center;

}

.xblock--drag-and-drop .zone p {
    width: 100%;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: auto;
}

/*** IE9 alignment fix ***/
.lt-ie10 .xblock--drag-and-drop .zone {
    display: table;
}

.lt-ie10 .xblock--drag-and-drop .zone p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/** Builder **/
.xblock--drag-and-drop .hidden {
    display: none !important;
}

.xblock--drag-and-drop .drag-builder {
    height: 100%;
    overflow: scroll;
}

.xblock--drag-and-drop .drag-builder .tab {
    width: 100%;
    background: #eee;
    padding: 3px 0;
    position: relative;
}

.xblock--drag-and-drop .drag-builder .tab:after,
.xblock--drag-and-drop .drag-builder .tab-footer:after,
.xblock--drag-and-drop .drag-builder .target:after {
  content: "";
  display: table;
  clear: both;
}

.xblock--drag-and-drop .drag-builder .tab h3 {
    margin: 10px 0;
}

.xblock--drag-and-drop .drag-builder .tab-header,
.xblock--drag-and-drop .drag-builder .tab-content,
.xblock--drag-and-drop .drag-builder .tab-footer {
    width: 96%;
    margin: 2%;
}

.xblock--drag-and-drop .drag-builder .tab-footer {
    height: 25px;
    position: relative;
    display: block;
    float: left;
}

.xblock--drag-and-drop .drag-builder .items {
    width: calc(100% - 515px);
    margin: 10px 0 0 0;
}

.xblock--drag-and-drop .drag-builder .target {
    margin-left: 0;
}

.xblock--drag-and-drop .drag-builder .target-image-form input {
    width: 50%;
}

.xblock--drag-and-drop .zones-form .zone-row label {
    display: inline-block;
    width: 18%;
}

.xblock--drag-and-drop .zones-form .zone-row .title {
    width: 60%;
    margin: 0 0 5px;
}

.xblock--drag-and-drop .zones-form .zone-row .layout {
    margin-bottom: 15px;
}


.xblock--drag-and-drop .zones-form .zone-row .layout .size,
.xblock--drag-and-drop .zones-form .zone-row .layout .coord {
    width: 15%;
    margin: 0 19px 5px 0;
}

.xblock--drag-and-drop .drag-builder .target {
    margin-bottom: 40px;
}

.xblock--drag-and-drop .drag-builder .zone {
    border: 1px dotted #666;
}

.xblock--drag-and-drop .feedback-form textarea {
    width: 99%;
    height: 128px;
    margin-bottom: 30px;
}

.xblock--drag-and-drop .items-form {
    margin-bottom: 30px;
}

.xblock--drag-and-drop .items-form .item {
    background: #73bde7;
    padding: 10px 0 1px;
    margin: 15px 0;
}

.xblock--drag-and-drop .items-form label {
    margin: 0 1%;
}

.xblock--drag-and-drop .items-form input,
.xblock--drag-and-drop .items-form select {
    width: 35%;
}

.xblock--drag-and-drop .items-form .item-width,
.xblock--drag-and-drop .items-form .item-height {
    width: 40px;
}

.xblock--drag-and-drop .items-form .item-numerical-value,
.xblock--drag-and-drop .items-form .item-numerical-margin {
    width: 60px;
}

.xblock--drag-and-drop .items-form textarea {
    width: 97%;
    margin: 0 1%;
}

.xblock--drag-and-drop .items-form .row {
    margin-bottom: 20px;
}


/** Buttons **/
.xblock--drag-and-drop .btn {
    background: #2e83cd;
    color: #fff;
    border: 1px solid #156ab4;
    border-radius: 6px;
    padding: 5px 10px;
}

.xblock--drag-and-drop .btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.xblock--drag-and-drop .btn:focus {
    outline: none;
    opacity: 0.5;
}

.xblock--drag-and-drop .add-element {
    text-decoration: none;
    color: #2e83cd;
}

.xblock--drag-and-drop .remove-zone {
    float: right;
    margin-top: 2px;
    margin-right: 16px;
}

.xblock--drag-and-drop .remove-item {
    display: inline-block;
    margin-left: 95px;
}

.xblock--drag-and-drop .icon {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background: #2e83cd;
    position: relative;
    float: left;
    margin: 0 5px 0 0;
}

.xblock--drag-and-drop .add-zone:hover,
.xblock--drag-and-drop .add-zone:hover .icon,
.xblock--drag-and-drop .remove-zone:hover,
.xblock--drag-and-drop .remove-zone:hover .icon {
    opacity: 0.7;
}

.xblock--drag-and-drop .icon.add:before {
    content: '';
    height: 10px;
    width: 2px;
    background: #fff;
    position: relative;
    display: inline;
    float: left;
    top: 2px;
    left: 6px;
}

.xblock--drag-and-drop .icon.add:after {
    content: '';
    height: 2px;
    width: 10px;
    background: #fff;
    position: relative;
    display: inline;
    float: left;
    top: 6px;
    left: 0;
}

.xblock--drag-and-drop .icon.remove:before {
    content: '';
    height: 10px;
    width: 2px;
    background: #fff;
    position: relative;
    display: inline;
    float: left;
    top: 2px;
    left: 6px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.xblock--drag-and-drop .icon.remove:after {
    content: '';
    height: 2px;
    width: 10px;
    background: #fff;
    position: relative;
    display: inline;
    float: left;
    top: 6px;
    left: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.xblock--drag-and-drop .remove-item .icon.remove {
    background: #fff;
}
.xblock--drag-and-drop .remove-item .icon.remove:before,
.xblock--drag-and-drop .remove-item .icon.remove:after {
    background: #2e83cd;
}
