<section class="xblock--drag-and-drop">
    <h2 class="problem-header">
      {{ title }}
    </h2>

    <div class="problem-progress">{{ max_score_string }}</div>

    <section class="problem" role="application">
        <p>
            {{ question_text }}
        </p>
    </section>

    <section class="feedback">
        <p class="message"></p>
    </section>

    <section class="drag-container">
        <ul class="items"></ul>

        <div class="target">
            <div class="target-img"></div>
        </div>

        <div class="clear"></div>
    </section>
</section>
