{% load i18n %}

<div class="xblock--drag-and-drop editor-with-buttons">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

    <section class="drag-builder">

        <div class="tab feedback-tab">
            <section class="tab-content">
                <form class="feedback-form">
                    <h3>Question title</h3>
                    <input class="display-name" />

                    <h3>Question text</h3>
                    <textarea class="question-text"></textarea>

                    <h3>Introduction Feedback</h3>
                    <textarea class="intro-feedback"></textarea>

                    <h3>Final Feedback</h3>
                    <textarea class="final-feedback"></textarea>
                </form>
            </section>
            <!-- <footer class="tab-footer">
                <button class="btn continue goto-zones">Continue</button>
            </footer> -->
        </div>

        <div class="tab zones-tab hidden">
            <header class="tab-header">
                <h3>Zone Positions</h3>
            </header>
            <section class="tab-content">
                <div class="items">
                    <form class="zones-form"></form>
                    <a href="#" class="add-zone add-element"><div class="icon add"></div>Add a zone</a>
                </div>
                <div class="target">
                    <div class="target-img"></div>
                </div>
            </section>
            <!-- <footer class="tab-footer">
                <button class="btn continue goto-items">Continue</button>
            </footer> -->
        </div>

        <div class="tab items-tab hidden">
            <header class="tab-header">
                <h3>Items</h3>
            </header>
            <section class="tab-content">
                <form class="items-form"></form>
            </section>
            <footer class="tab-footer">
                <a href="#" class="add-item add-element"><div class="icon add"></div>Add an item</a>
                <!-- <button class="btn continue goto-exercise">Finish</button> -->
            </footer>
        </div>

    </section>

    <div class="xblock-actions">
      <span class="xblock-editor-error-message"></span>
      <ul>
        <li class="action-item">
          <a href="#" class="button action-primary continue-button">{% trans "Continue" %}</a>
        </li>

        <li class="action-item hidden">
          <a href="#" class="button action-primary save-button">{% trans "Save" %}</a>
        </li>

        <li class="action-item">
          <a href="#" class="button cancel-button">{% trans "Cancel" %}</a>
        </li>
      </ul>
    </div>
</div>
