<section class="xblock--drag-and-drop">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

    <h2 class="problem-header">
      {{ title }}
    </h2>

    <div class="problem-progress">(1 point possible)</div>

    <section class="problem" role="application">
        <p>
            {{ question_text }}
        </p>
    </section>

    <section class="feedback">
        <p class="message"></p>
    </section>

    <section class="drag-container">
        <ul class="items"></ul>

        <div class="target">
            <div class="target-img"></div>
        </div>

        <div class="clear"></div>
    </section>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
</section>
