<section class="xblock--drag-and-drop">
    {{ js_templates|safe }}

    <h2 class="problem-header">
      {{ title }}
    </h2>

    <section class="problem" role="application">
        <div class="title1">Question</div>
        <p>{{ question_text }}</p>
    </section>

    <section class="drag-container">
        <div class="popup">
            <div class="close icon-remove-sign fa-times-circle"></div>
            <p class="popup-content"></p>
        </div>

        <ul class="items"></ul>

        <div class="target">
            <div class="target-img"></div>
        </div>

        <div class="clear"></div>
    </section>

    <section class="feedback">
        <div class="title1">Feedback</div>
        <p class="message"></p>
    </section>
</section>
