<script id="zone-element-tpl" type="text/html">
    <div id="{{ id }}" class="zone" data-zone="{{ title }}" style="
        top:{{ y_percent }}%;
        left:{{ x_percent }}%;
        width:{{ width_percent }}%;
        height:{{ height_percent }}%;">
        <p>{{{ title }}}</p>
        <p class="sr">{{{ description }}}</p>
    </div>
</script>

<script id="zone-input-tpl" type="text/html">
    <div class="zone-row {{ id }}" data-index="{{index}}">
        <label>{{i18n "Text"}}</label>
        <input type="text" class="title" value="{{ title }}" />
        <a href="#" class="remove-zone hidden">
            <div class="icon remove"></div>
        </a>
        <label>{{i18n "Description"}}</label>
        <input type="text"
               class="description"
               value="{{ description }}"
               placeholder="{{i18n 'Describe this zone to non-visual users'}}" />
        <div class="layout">
            <label>{{i18n "width"}}</label>
            <input type="text" class="size width" value="{{ width }}" />
            <label>{{i18n "height"}}</label>
            <input type="text" class="size height" value="{{ height }}" />
            <br />
            <label>x</label>
            <input type="text" class="coord x" value="{{ x }}" />
            <label>y</label>
            <input type="text" class="coord y" value="{{ y }}" />
        </div>
    </div>
</script>

<script id="zone-dropdown-tpl" type="text/html">
    <option value="{{ value }}" {{ selected }}>{{ value }}</option>
</script>

<script id="item-input-tpl" type="text/html">
    <div class="item">
        <div class="row">
            <label>{{i18n "Text"}}</label>
            <input type="text" class="item-text" value="{{ displayName }}"/>
            <label>{{i18n "Zone"}}</label>
            <select class="zone-select">{{ dropdown }}</select>
            <a href="#" class="remove-item hidden">
                <div class="icon remove"></div>
            </a>
        </div>
        <div class="row">
            <label>{{i18n "Background image URL (alternative to the text)"}}</label>
            <textarea class="background-image-url">{{ backgroundImage }}</textarea>
        </div>
        <div class="row">
            <label>{{i18n "Background image description (should provide sufficient information to place the item even  if the image did not load)"}}</label>
            <textarea class="background-image-description">{{ backgroundDescription }}</textarea>
        </div>
        <div class="row">
            <label>{{i18n "Success Feedback"}}</label>
            <textarea class="success-feedback">{{ feedback.correct }}</textarea>
        </div>
        <div class="row">
            <label>{{i18n "Error Feedback"}}</label>
            <textarea class="error-feedback">{{ feedback.incorrect }}</textarea>
        </div>
        <div class="row" style="display: none;">
            <!--
            width and height are no longer respected, so they are now hidden, but we are
            keeping the HTML and JS code intact so that the existing data will be preserved
            until we can be sure that removing the width/height is OK for all courses that use
            this block.
            If we do add them back in, we should only allow setting "width". Height will be
            detected automatically based on font/image size requirements.
            -->
            <label>{{i18n "Width in pixels (0 for auto)"}}</label>
            <input type="text" class="item-width" value="{{ width }}"></input>
            <label>{{i18n "Height in pixels (0 for auto)"}}</label>
            <input type="text" class="item-height" value="{{ height }}"></input>
        </div>
        <div class="row">
          <label>{{i18n "Optional numerical value"}}</label>
          <input type="text" class="item-numerical-value" value="{{ numericalValue }}"></input>
          <label>{{i18n "Margin ±"}}</label>
          <input type="text" class="item-numerical-margin" value="{{ numericalMargin }}"></input>
        </div>
    </div>
</script>
