<script id="zone-element-tpl" type="text/html">
    <div class="zone" data-zone="{{ uid }}" style="
        top:{{ y_percent }}%;
        left:{{ x_percent }}%;
        width:{{ width_percent }}%;
        height:{{ height_percent }}%;">
        <p>{{{ title }}}</p>
        <p class="sr">{{{ description }}}</p>
    </div>
</script>

<script id="zone-input-tpl" type="text/html">
    <div class="zone-row" data-uid="{{zone.uid}}">
        <!-- uid values from old versions of the block may contain spaces and other characters, so we use 'index' as an alternate unique ID here. -->
        <label for="zone-{{index}}-title">{{i18n "Text"}}</label>
        <input type="text"
               id="zone-{{index}}-title"
               class="title"
               value="{{ zone.title }}"
               required />
        <a href="#" class="remove-zone hidden">
            <div class="icon remove"></div>
        </a>
        <label for="zone-{{index}}-description">{{i18n "Description"}}</label>
        <input type="text"
               id="zone-{{index}}-description"
               class="description"
               value="{{ zone.description }}"
               placeholder="{{i18n 'Describe this zone to non-visual users'}}"
               required />
        <div class="layout">
            <label for="zone-{{index}}-width">{{i18n "width"}}</label>
            <input type="text"
                   id="zone-{{index}}-width"
                   class="size width"
                   value="{{ zone.width }}" />
            <label for="zone-{{index}}-height">{{i18n "height"}}</label>
            <input type="text"
                   id="zone-{{index}}-height"
                   class="size height"
                   value="{{ zone.height }}" />
            <br />
            <label for="zone-{{index}}-x">x</label>
            <input type="text"
                   id="zone-{{index}}-x"
                   class="coord x"
                   value="{{ zone.x }}" />
            <label for="zone-{{index}}-y">y</label>
            <input type="text"
                   id="zone-{{index}}-y"
                   class="coord y"
                   value="{{ zone.y }}" />
        </div>
        <div class="alignment">
            <label for="zone-{{index}}-align">
                {{i18n "Alignment"}}
            </label>
            <select id="zone-{{index}}-align"
                    class="align-select"
                    aria-describedby="zone-align-description">
                <option value="" 
                    {{#ifeq zone.align ""}}selected{{/ifeq}}>
                    {{i18n "none"}}
                </option>
                <option value="left" 
                    {{#ifeq zone.align "left"}}selected{{/ifeq}}>
                    {{i18n "left"}}
                </option>
                <option value="center" 
                    {{#ifeq zone.align "center"}}selected{{/ifeq}}>
                    {{i18n "center"}}
                </option>
                <option value="right"
                    {{#ifeq zone.align "right"}}selected{{/ifeq}}>
                    {{i18n "right"}}
                </option>
            </select>
            <div id="zone-align-description" class="zones-form-help">
                {{i18n "Align dropped items to the left, center, or right.  Default is no alignment (items stay exactly where the user drops them)."}}
            </div>
        </div>
    </div>
</script>

<script id="zone-dropdown-tpl" type="text/html">
    <option value="{{ uid }}" {{ selected }}>{{ title }}</option>
</script>

<script id="item-input-tpl" type="text/html">
    <div class="item">
        <div class="row">
            <label for="item-{{id}}-text">{{i18n "Text"}}</label>
            <input type="text"
                   id="item-{{id}}-text"
                   class="item-text"
                   value="{{ displayName }}" />
            <label for="item-{{id}}-zone">{{i18n "Zone"}}</label>
            <select id="item-{{id}}-zone"
                    class="zone-select">{{ dropdown }}</select>
            <a href="#" class="remove-item hidden">
                <div class="icon remove"></div>
            </a>
        </div>
        <div class="row">
            <label for="item-{{id}}-image-url">{{i18n "Image URL (alternative to the text)"}}</label>
            <input type="text"
                   id="item-{{id}}-image-url"
                   placeholder="{{i18n 'For example, http://example.com/image.png or /static/image.png'}}"
                   class="item-image-url"
                   value="{{ imageURL }}" />
        </div>
        <div class="row">
            <label for="item-{{id}}-image-description">{{i18n "Image description (should provide sufficient information to place the item even if the image did not load)"}}</label>
            <textarea id="item-{{id}}-image-description" {{#if imageURL}}required{{/if}}
                      class="item-image-description">{{ imageDescription }}</textarea>
        </div>
        <div class="row">
            <label for="item-{{id}}-success-feedback">{{i18n "Success Feedback"}}</label>
            <textarea id="item-{{id}}-success-feedback"
                      class="success-feedback">{{ feedback.correct }}</textarea>
        </div>
        <div class="row">
            <label for="item-{{id}}-error-feedback">{{i18n "Error Feedback"}}</label>
            <textarea id="item-{{id}}-error-feedback"
                      class="error-feedback">{{ feedback.incorrect }}</textarea>
        </div>
        <div class="row advanced-link">
            <a href="#">{{i18n "Show advanced settings" }}</a>
        </div>
        <div class="row advanced">
            <label for="item-{{id}}-width-percent">{{i18n "Preferred width as a percentage of the background image width (or blank for automatic width):"}}</label>
            <input type="number" id="item-{{id}}-width-percent" class="item-width" value="{{ singleDecimalFloat widthPercent }}" step="0.1" min="1" max="99" />%
        </div>
        <div class="row advanced">
          <label for="item-{{id}}-numerical-value">
            {{i18n "Optional numerical value (if you set this, learners will be prompted for this value after dropping this item)"}}
          </label>
          <input type="number"
                 step="0.1"
                 id="item-{{id}}-numerical-value"
                 class="item-numerical-value" value="{{ numericalValue }}" />
        </div>
        <div class="row advanced">
          <label for="item-{{id}}-numerical-margin">
            {{i18n "Margin ± (when a numerical value is required, values entered by learners must not differ from the expected value by more than this margin; default is zero)"}}
          </label>
          <input type="number"
                 step="0.1"
                 id="item-{{id}}-numerical-margin"
                 class="item-numerical-margin" value="{{ numericalMargin }}" />
        </div>
    </div>
</script>
