name: Python CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches:
      - '**'
  workflow_dispatch:

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: [3.11, 3.12]
        toxenv: [django42, django52, quality, translations]

    steps:
    - name: checkout repo
      uses: actions/checkout@v5
      with:
        submodules: recursive

    - name: setup python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install translations dependencies
      if: ${{ startsWith(matrix.toxenv, 'translations') }}
      run: |
        sudo apt-get update
        sudo apt-get install -y gettext

    - name: Install Dependencies
      run: make requirements

    - name: Run Tests
      env:
        TOXENV: ${{ matrix.toxenv }}
      run: tox
